nav {
	display: flex;
	justify-content: center;
}

nav a {
	margin: 10px;
	padding: 5px 10px;
	text-decoration: none;
	border-radius: 6px;
	transition: all 200ms ease-in-out;
	font-weight: 600;
}

nav a:hover {
	color: #e3e3e3;
	background-color: #646cff;
}

.active {
	color: #e3e3e3;
	background-color: #3d47ff;
}
